typePage {

}
.listBanner {
  height:400px;
  width: 100% !important;
  min-width: 1200px;
  position: relative;
  background: url("../../assets/img/banner02.png") 50% 50% no-repeat scroll white;
}
.listBanner img {       /* banner图 */
  height: 100%;
  width: 100%;
}
.listNav {        /* 导航 */
  background: rgba(255,255,255,0.4);
  height: 46px;
  position: absolute;
  right:100px;
  top:30px;
}
.logo {       /* logo */
  position: absolute;
  top: 0;
  left: 0;
}
.listCon {          /* 文章列表 */
  width: 1120px;
  margin:0 auto;
  margin-top: 40px;
}
.listCon h1 {
  height: 40px;
  line-height: 40px;
  font-size:22px;
}
.listCon ul {
  width: 1200px;
}
.listCon ul li {
  overflow: hidden;
  height: 100px;
  padding: 15px 0px;
}
.listCon ul li>img {
  float: left;
  height: 100px;
  width: 100px;
}
.listCon ul li>.notice{
  float: right;
  width: 1000px;
  height: 100px;
  position: relative;
}
.notice>h2 {
  height: 30px;
  line-height: 30px;
  font-size:24px;
}
.notice>h3 {
   height: 70px;
   line-height: 22px;
   padding-right: 100px;
   overflow : hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   font-size: 14px;
 }
.notice>span {
  position: absolute;
  display: block;
  height: 30px;
  width:70px;
  text-align: center;
  line-height: 30px;
  background: #1fad1f;
  color: #fff;
  border-radius: 5px;
  right:20px;
  top:40px;
  font-size: 14px;
  cursor: pointer;
}
.unless {      /* 二维码的蒙层 */
  position: fixed;
  background: rgba(0,0,0,0.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 999;
}
.qrCode {
  position: absolute;
  height: 400px;
  width: 500px;
  left:50%;
  margin-left: -250px;
  top:50%;
  margin-top:-200px;
  text-align: center;
}
.qrCode>h2 {
  height: 56px;
  line-height:56px;
  color: #fff;
  font-size: 28px;
}
.qrCode>span {      /* 关闭按钮 */
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size:30px;
  font-weight: 100;
  border:1px #666 solid;
  border-radius: 50%;
  background: #fff;
  color: #666;
  position: absolute;
  right:0px;
  top: 0px;
}
