<!-- 关于我们 -->
<header>
  <nav class="logo"><img src="../../assets/img/logo.png"></nav>
  <div class="aboutNav">
    <app-navigation-bar></app-navigation-bar>
  </div>
</header>
<section class="companyProfile">
  <div class=aboutUs>
    <h2>我们是谁</h2>
    <h3>
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      随着人们生活水平的不断提高，更加追求健康的生活方式，健康的饮食方式。
      我们也是紧随着人们的需求发展而创立的一家信息服务平台。
    </h3>
    <h4>
      我们秉着创新，服务大众的态度。开始探索如何能更加有效的提供信息服务。
      如何让大家对果蔬的营养价值和健康价值有更加清晰的认识。并能够更具不同的
      果蔬中的营养成分和人体必须的元素进行合理的食用。我们的每一篇内容都是经过
      精心编辑，查阅多种资料。为大家提供更加全面和更加准确地信息。把果蔬的医疗价值、
      食用价值、健康价值全方位的展现给大家。还会不断的提供水果榨汁的方法和技巧。
      果蔬搭配的方式。让大家在加重就可以轻松的制作香甜可口的鲜榨果汁，鲜榨蔬菜汁。
    </h4>
  </div>
  <h1 class="title">丰富的信息平台</h1>
  <div class="imgCon">
    <img src="../../assets/img/putao02.jpg" alt="农业旅游">
    <p>
      旅游是人们灵魂的必需品。每一段旅行都是一种对生命的探索，对生活的探索，对大自然的探索，以及对历史的探索等。
      在旅途中，我们总是和自己的内心离得那么近。在旅途中我们才能更多的听从内心真实的想法。竹叶网平台也在不断的探索
      旅行的意义。生活的意义。我们会收集旅游地点相关的信息，以及有关花开季节唯美风景的摄影图片，和相关地址及旅游攻略。
      在享受果蔬带来的美味之外，也让我们的心灵得到升华。
    </p>
  </div>
</section>
<article>
  <img src="../../assets/img/aboutUsBanner.png">
</article>
<ul class="sixModul">
  <li>
    <h3>创业创新</h3>
    <p>
      竹叶网是一个创新平台，也是一个不断探索和完善的平台。希望能够更好
      的为用户提供准确有价值的信息。也希望能够创造更多的社会价值。
    </p>
  </li>
  <li>
    <img src="../../assets/img/module01.png">
  </li>
  <li>
    <h3>健康的价值</h3>
    <p>
      俗话常说：身体是革命的本钱。有一个健康的身体对我们的生活，事业都是非常重要的
      生活水平提高了，我们不仅要吃得饱，吃得好，更要吃的健康。
    </p>
  </li>
  <li>
    <img src="../../assets/img/module02.png" alt="竹叶">
  </li>
  <li>
    <h3>旅行的意义</h3>
    <p>
      每个人都在探索旅行的意义。旅行对于我们的生命意味着什么，在旅行中我们又能得到什么。
      也许是因为运动是永恒的，所以我们需要一直在路上，不仅身体在路上，心灵也要在路上。
    </p>
  </li>
  <li>
    <img src="../../assets/img/module03.png" alt="竹叶网">
  </li>
</ul>
<app-footer-content></app-footer-content>
