<!-- 关于我们 -->
<header>
  <nav class="logo"><img src="../../assets/img/logo.png"></nav>
  <div class="aboutNav">
    <app-navigation-bar></app-navigation-bar>
  </div>
</header>
<section class="companyProfile">
  <div class=aboutUs>
    <h2>我们是谁</h2>
    <h3>
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
    </h3>
    <h4>
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
    </h4>
  </div>
  <h1 class="title">公司简介</h1>
  <div class="imgCon">
    <img src="../../assets/img/putao02.jpg">
    <p>
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
      竹叶网络科技有限公司是一家提供果蔬健康，果蔬养生的信息服务的公司。
    </p>
  </div>
</section>
<article>
  <img src="../../assets/img/aboutUsBanner.png">
</article>
<ul class="sixModul">
  <li>
    <h3>段落标题</h3>
    <p>
      段落内容段落内容段落内容段落内容段落内容段落内容段落内容段落内容
      段落内容段落内容段落内容段落内容段落内容段落内容段落内容段落内容
    </p>
  </li>
  <li>
    <img src="../../assets/img/module01.png">
  </li>
  <li>
    <h3>段落标题</h3>
    <p>
      段落内容段落内容段落内容段落内容段落内容段落内容段落内容段落内容
      段落内容段落内容段落内容段落内容段落内容段落内容段落内容段落内容
    </p>
  </li>
  <li>
    <img src="../../assets/img/module02.png">
  </li>
  <li>
    <h3>段落标题</h3>
    <p>
      段落内容段落内容段落内容段落内容段落内容段落内容段落内容段落内容
      段落内容段落内容段落内容段落内容段落内容段落内容段落内容段落内容
    </p>
  </li>
  <li>
    <img src="../../assets/img/module03.png">
  </li>
</ul>
