.navBar {
  width: 100%;
  height: 46px;
  overflow: hidden;
}
.navBar li {
  float: left;
  position: relative;
}
.navBar li>a {
  display: block;
  height: 46px;
  line-height: 46px;
  padding:0 30px;
  text-decoration: none;
  color: #1fad1f;
  text-shadow: 5px 5px 5px #54774c;
  font-size: 22px;
  font-family: "微软雅黑";
}
.navBar li>span {
  position: absolute;
  display: block;
  height: 60px;
  width: 2px;
  background: #058740;
  right:0;
  top:-10px;
  transform: rotate(20deg);
}
