<div class="typePage">
  <h1>服务价值</h1>
  <!-- 夜间 -->
  <div class="canvasCon" id="canvasConNight"></div>
  <ul class="countForList">
    <li>
      <img src="../../assets/img/icon-ball.png">
      <h4>技术先锋</h4>
      <p>
        全球首创安卓应用权限管理；<br />
        建立全球最大的安卓应用行为云；<br />
        构建全球首个安卓虚拟系统引擎MultiDroid
      </p>
    </li>
    <li>
      <img src="../../assets/img/icon-invest.png">
      <h4>技术先锋</h4>
      <p>
        全球首创安卓应用权限管理；<br />
        建立全球最大的安卓应用行为云；<br />
        构建全球首个安卓虚拟系统引擎MultiDroid
      </p>
    </li>
    <li>
      <img src="../../assets/img/icon-users.png">
      <h4>技术先锋</h4>
      <p>
        全球首创安卓应用权限管理；<br />
        建立全球最大的安卓应用行为云；<br />
        构建全球首个安卓虚拟系统引擎MultiDroid
      </p>
    </li>
  </ul>
</div>


