.typePage {
  height: 700px;
  position: relative;
  margin-top: 48px;
}
.typePage>h1 {
  height: 128px;
  line-height: 128px;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 37px;
  position: absolute;
  top:30px;
  z-index: 999;
}
.canvasCon {
  height: 700px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.countForList {        /* 价值列表 */
  position: absolute;
  top: 200px;
  width:1200px;
  left:50%;
  margin-left: -600px;
  display: flex;
}
.countForList li {
  text-align: center;
  flex:1;
  margin:0 20px;
  border: 1px #eee solid;
  height: 430px;
}
.countForList li>img {
  margin-top: 20px;
}
.countForList li>h4 {
  height:30px;
  line-height: 30px;
  color: #fff;
  font-size:18px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.countForList li>p {
  line-height: 25px;
  color: #fff;
  font-size:16px;
}
