<div class="typePage">
  <h1>服务价值</h1>
  <!-- 夜间 -->
  <div class="canvasCon" id="con">aaaa</div>
  <ul class="countForList">
    <li>
      <img src="../../assets/img/countImg.png">
      <h4>饮食保健</h4>
      <p>
        果蔬给我们的身体提供源源不断的营养，<br />
        保证我们身体的健康以及保养我们的容颜<br />
        我们的信息服务带大家更深入的了解果蔬的各方面价值。
      </p>
    </li>
    <li>
      <img src="../../assets/img/countImg.png">
      <h4>新时代新生活</h4>
      <p>
        新的生活方式带来新的生活享受；<br />
        唯美的风景洗刷浮躁的灵魂；<br />
        每天的陪伴消除奋斗路上的孤独。
      </p>
    </li>
    <li>
      <img src="../../assets/img/countImg.png">
      <h4>回报社会</h4>
      <p>
        提供一个学习和进步的平台；<br />
        健康的身体为自己的未来保驾护航；<br />
        梦想是我们探索人生的指路牌
      </p>
    </li>
  </ul>
</div>


