<h1 class="classifyTitle">LBE家族</h1>
<ul class="classifyCon">
  <li>
    <img src="../../assets/img/icon-product01.png">
    <h3>竹叶网平行空间</h3>
    <p>社交和游戏分身</p>
    <p>同时登陆，同时在线</p>
    <h5>关注竹叶网公众号，带你探索水果和蔬菜的奥秘，拉近我们与健康的距离。</h5>
  </li>
  <li>
    <img src="../../assets/img/icon-product01.png">
    <h3>竹叶网平行空间</h3>
    <p>社交和游戏分身</p>
    <p>同时登陆，同时在线</p>
    <h5>关注竹叶网公众号，带你探索水果和蔬菜的奥秘，拉近我们与健康的距离。</h5>
  </li>
  <li>
    <img src="../../assets/img/icon-product01.png">
    <h3>竹叶网平行空间</h3>
    <p>社交和游戏分身</p>
    <p>同时登陆，同时在线</p>
    <h5>关注竹叶网公众号，带你探索水果和蔬菜的奥秘，拉近我们与健康的距离。</h5>
  </li>
  <li>
    <img src="../../assets/img/icon-product01.png">
    <h3>竹叶网平行空间</h3>
    <p>社交和游戏分身</p>
    <p>同时登陆，同时在线</p>
    <h5>关注竹叶网公众号，带你探索水果和蔬菜的奥秘，拉近我们与健康的距离。</h5>
  </li>
</ul>
