<h1 class="classifyTitle">精选板块</h1>
<ul class="classifyCon">
  <li>
    <img src="../../assets/img/classify01.png">
    <h3>水果·蔬菜</h3>
    <p>果蔬的全能价值</p>
    <p>果蔬-为健康保驾护航</p>
    <h5>关注竹叶网公众号，带你探索水果和蔬菜的奥秘，拉近我们与健康的距离。</h5>
  </li>
  <li>
    <img src="../../assets/img/classify02.png">
    <h3>美丽花海</h3>
    <p>能赏又能吃的花园</p>
    <p>有时风景就在我们身边</p>
    <h5>每一朵花都有她的生命意义，花败之后又是新的生命的延续。</h5>
  </li>
  <li>
    <img src="../../assets/img/classify03.png">
    <h3>旅行意味着诗和远方</h3>
    <p>每一段旅行都有他独到的意义</p>
    <p>漫步在果园中又是一种更贴近灵魂的体验</p>
    <h5>葡萄架下牛郎织女的窃窃私语，苹果树下万有引力的提示是一种多么神奇的感受。</h5>
  </li>
  <li>
    <img src="../../assets/img/classify04.png">
    <h3>精益求精</h3>
    <p>发挥每一句话的价值</p>
    <p>让每个人都有所收获</p>
    <h5>成长的过程就是一件不断探索新事物的过程，我们愿做大家永远的陪伴。</h5>
  </li>
</ul>
